{% extends 'Email/layout.email.html.twig' %}

{% block content %}
    {{ paragraph(__('You just signed in on the {appName} sponsoring website', { appName: application_name })) }}
    <tr style="border-collapse:collapse">
        <td align="center" style="padding:0;Margin:0"><p
                    style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#666666;font-size:18px">
                <strong>
                    {{ ip }}<br>
                    {{ location }}<br>
                    {{ time }}
                </strong>
            </p>
        </td>
    </tr>
    {{ paragraph(__('If you did this, you can ignore this mail.')) }}
    {{ paragraph(__('However, if you did not sign in recently, please do not hesitate to contact us on {contact}.',{'contact':contact})) }}
{% endblock %}